@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-appearance: none;
}

.navbar {
  box-shadow: 0 1px 3px rgba(0,0,0,.11);
  height: 45px;
}

.navbar a img {
  height:70px;
  margin-top:-22px;
  margin-left:-15px;
  max-width: none;
}

.navbar-brand {
  float: left;
}

.collapsing {
  position:relative;
  height:0;
  background-color: #ffffff;
  overflow:hidden;
  -webkit-transition-timing-function:ease;
  -o-transition-timing-function:ease;
  transition-timing-function:ease;
  -webkit-transition-duration:.35s;
  -o-transition-duration:.35s;
  transition-duration:.35s;
  -webkit-transition-property:height,visibility;
  -o-transition-property:height,visibility;
  transition-property:height,visibility
}

.collapsing li {
  float:left;
  padding-left: 5px;
}

.in {
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,.11);
}

.in li {
  float:left;
  padding-left: 5px;
}

@media only screen and (max-width: 767px) {
  .navbar a img {
    display: block;
    margin: -22px auto auto auto;
    padding-left: 26px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-brand {
    float: none;
    display: block;
  }
}

.footer {
  background-color: #262626;
  color: #ffffff;
  font-size: 12px;
  line-height: 35px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

h1 {
  color: #438bff;
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 26px;
  font-weight: 700;
}

h3 {
  color: #438bff;
  font-size: 20px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  line-height: 27px;
}

p, div {
  color: #54474b;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

a, p a {
  color: #438bff;
  font-weight:700;
}

a:hover {
  color: #54474b;
  text-decoration: none;
}

.imgright {
  float: right;
  width: 35%;
  min-width: 300px;
}

@media only screen and (max-width: 767px) {
  .imgright {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.fa {
  color: #54474b;
  transition: all .3s ease-in-out;
}

.fa:hover {
  color: #438bff;
}

.ai {
  color: #54474b;
  transition: all .3s ease-in-out;
}

.ai:hover {
  color: #438bff;
}

.title {
  display: none;
}

.toc-ignore {
  display: none;
}